{% extends 'component/base.html.twig' %}

{% block title %}Come Buck{% endblock %}

{% block content %}
<div class="container">
    <div class="top-message">
        <h1>Kill you</h1>
    </div>
</div>
{% endblock %}
